@import './var/breakpoint.scss';
@import './var/app-config.scss';

@mixin flex($justify, $align: flex-start, $wrap: nowrap) {
  display: flex;
  justify-content: $justify;

  @if $align != flex-start {
    align-content: $align;
    align-items: $align;
  }

  @if $wrap == wrap {
    flex-wrap: $wrap;
  }
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
